/* @import url(//db.onlinewebfonts.com/c/9a4b138bd9c8e1eba20dbd6a0bb1d832?family=Cooper+Black);
@font-face {
    font-family: rpsw; 
    src: url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.eot"); 
    src: url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/9a4b138bd9c8e1eba20dbd6a0bb1d832.svg#Cooper Black") 
    format("svg"); 
} */
@font-face {
    font-family: rpsw;
    src: url(../fonts/cooper.ttf);
}
@font-face{
    font-family: th sarabun psk;
    src: url(../fonts/Sarabun-Light.ttf);
}
@font-face{
    font-family: prompt;
    src: url(../fonts/Prompt-Light.ttf);
}
@font-face{
    font-family: prompt-cause;
    src: url(../fonts/Prompt-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: th sarabun psk, sans-serif;
    transition: all 2s;
    /* border: 1px solid black; */
}
body,html{
    background-image: url(../img/ดาษ.png);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.to-top{
    background-color: whitesmoke;
    position: fixed;
    bottom: 15px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0.5;
}
p{
    z-index: 4;
    color: #403C3B;
}
section{
    position: relative;
}

/* Pre Loader Start Here na krub*/
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: lightblue;
    width: 100%;
    height: 100%;
    animation: loaderbg 5s;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw -  75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid whitesmoke;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes loaderbg {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0.75;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
/* Sed laew Yeh!!*/

#page1{
    height: 620vh;
}
#narak{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.yup{
    bottom: 20%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-image: url(../img/ดาษ.png);
}
.bg{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.um-chair{
    top: 0;
    left: 0;
    width: 27%;
    height: 11%;
    background-image: url(../img/top\ um\ _\ chair.png);
}
.sea-fish{
    top: 7%;
    width: 100%;
    height: 70%;
    background-image: url(../img/sea\ _\ fish.png);
    
}
.bai-one{
    top: -0.3%;
    right: 17%;
    width: 17%;
    height: 8%;
    background-image: url(../img/bai-one.png);
    animation: updown 4s alternate infinite ease-in-out;
}
.bai-two{
    right: -2%;
    width: 19%;
    height: 20%;
    background-image: url(../img/bai-two.png);
    animation: dukdik 4s alternate infinite ease-in-out;
}
@keyframes updown{
    50%{
        transform: translateY(-10px) rotate(2deg);
    }
    100%{
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes dukdik{
    50%{
        transform: translateX(-5px)rotate(-2deg);
    }
    100%{
        transform: translateX(0px)rotate(0deg);
    }
}
.plastic-font{
    top: 5.5%;
    left: 31%;
    width: 40%;
    height: 4%;
    background-image: url(../img/plastic\ font.png);
}
.leave-top-left{
    top: 9%;
    left: -2%;
    width: 19%;
    height: 15%;
    background-image: url(../img/leaves\ top\ left.png);
    animation: kayup 4s alternate infinite ease-in-out;
}
@keyframes kayup {
    50%{
        left: -1.6%;
        transform: translateX(0)rotate(5deg);
    }
    100%{
        transform: translateX(0px)rotate(0deg);
    }
}
#block-set{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
}
.boat{
    top: 14%;
    left: 48%;
    width: 25%;
    height: 6%;
    background-image: url(../img/boat.png);
    animation: loy 3.4s  infinite ease-in-out;
}

@keyframes loy {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(0%, -5%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
.island{
    top: 18%;
    left: 5%;
    width: 90%;
    height: 24%;
    background-image: url(../img/island.png);
}
.fur-on-beach{
    top: 17%;
    left: 15%;
    width: 35%;
    height: 11%;
    background-image: url(../img/fur\ on\ beach.png);
}
.problem{
    top: 19%;
    left: 48%;
    width: 40%;
    height: 10%;
    background-image: url(../img/problem\ in\ the\ ocean.png);
}
p.bin{
    top: 47%; 
    left: 30%;
    color: #505189;
    font-family: prompt;
    font-weight: 600;
    font-size: 3.3vw;
    letter-spacing: 1px;
    position: absolute;
}
.drop-slide{
    top: 49%;
    left: 42%;
    width: 15%;
    height: 30%;
    opacity: 0;
    background-image: url(../img/แก้วน้าม.png);
    transition: all 1s;
    animation: down-drop 5s ease-in;
    animation-delay: 4s;
    z-index: 6;
    
}
.test-animation{
    animation: down-drop 5s ease-in-out;
}
@keyframes down-drop {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(1000%);
    }
}
.coconut-tree{
    top: 45%;
    right: -1%;
    width: 28%;
    height: 18%;
    background-position: left;
    background-image: url(../img/coconut\ tree.png);
    animation: dukdik 4s alternate infinite ease-in-out;
}
.sea-sye{
    top: 61%;
    width: 100%;
    height: 250%;
    background-image: url(../img/ท้าเล้.png);
}
p.cause{
    top: 64%;
    left: 60%;
    color: #505189;
    font-family: prompt-cause;
    font-weight: 500;
    font-size: 6.5vw;
    position: absolute; 
}
p.trash-sea,
p.animal-water {
    color: #8b542c;
    font-size: 2vw;
    font-weight: 600;
    position: absolute; 
}
#point{
    width: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.dot{
    width: 2vw;
    height: 2vw;
    position: absolute;
    background-color: #545C93;
    border-radius: 100%;
    z-index: 4;
}
.line{  
    position: relative;
    border: 5px solid #577667;
}
.nong{
    top: 80%;
    left: 22%;
    width: 50%;
    height: 10%;
    background-image: url(../img/nong.png);
}
.mesh{
    top: 80%;
    right: 0;
    width: 35%;
    height: 12%;
    background-image: url(../img/แห.png);
}
.plastic-bag{
    top: 79%;
    left: 0;
    width: 22%;
    height: 6%;
    background-image: url(../img/plastic\ bag.png);
}
.baimai{
    top: 87%;
    left: 0;
    width: 25%;
    height: 15%;
    background-image: url(../img/baimai.png);
}
#page2{
    width: 100%;
    height: 350vh;
    overflow: hidden;
}
#header-7R{
    width: 30%;
    height: 15%;
    left: 37%;
    position: relative;
}
p.head-solution{
    position: absolute;
    font-weight: 600;
    font-family: rpsw;
}
#info{
    top: -6.5%;  
    height: 80%;
    position: relative;
    overflow: hidden;
}
p.information{
    width: 30%;
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1.5;
    position: absolute;
}
p.topic{
    width: 30%;
    font-size: 4.5vw;
    font-weight: 600;
    font-family: rpsw;
}
.green-bottle{
    right: 0;
    bottom: 10%;
    width: 30%;
    height: 20%;
    background-image: url(../img/ขวดเขียวแหลกสลาย.png);
    z-index: 1;
}
.sea-world{
    top: -110%;
    width: 100%;
    height: 600vh;
    transform: scale(1.14);
    background-image: url(../img/micro-pf.png);
    /* border: 2px solid black; */
}
#micro-group{
    left: 10%;
    bottom: 18%;    
    width: 80%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.micro{
    top: 24.5%;
    right: 2%;
    width: 100%;
    height: 90%;
    background-position: center;
    background-image: url(../img/micro.png);
    z-index: 2;
}
.micro-text{
    font-size: 8vw;
    font-family: rpsw;
    color: #545C93;
    z-index: 1;
}
#page3{
    width: 100%;
    height: 285vh;
    position: relative;
    /* overflow: hidden; */
    /* overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: auto; */    
}
#page3 >  p:nth-child(2){
    width: 20%;
    color: #505189;
    font-weight: 600;
    font-size: 3.3vw;
    position: relative;
}
#page3 > p:nth-child(3){
    width: 20%;
    color: #FAFBEB;
    font-weight: 600;
    font-size: 4.5vw;
    position: relative;
}
#micro-carousel{
    width: 100%;
    height: 27%;
    position: relative;
}
#slide1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
div.arrow-left{
    top: 40%;
    left: 19%;
    width: 0;
    height: 0;
    border-top: 3.125vw solid transparent;
    border-right: 5vw solid #577667;
    border-bottom: 3.125vw solid transparent;
    position: absolute;
    transition: all 0s;
    cursor: pointer;
    z-index: 1;
}
div.arrow-right {
    top: 40%;
    left: 77%;
    width: 0; 
    height: 0; 
    border-top: 3.125vw solid transparent;
    border-left: 5vw solid #577667;
    border-bottom: 3.125vw solid transparent;
    position: absolute;
    transition: all 0s;
    cursor: pointer;
    z-index: 1;
}
div.arrow-right:hover{
    border-left: 5vw solid #FAD794;
}
div.arrow-left:hover{
    border-right: 5vw solid #FAD794;
}
div.image-carousel{
    top: 21%;
    left: initial;
    right: initial;
    width: 30%;
    height: 85%;
    opacity: 0%;
    background-position: center;
}
#one{top: 0%; width: 30%; height: 85%; opacity: 100%; background-image: url(../img/slide1.png);}
#two{width: 28%; height: 60%; background-image: url(../img/slide2.png);}
#three{width: 32%; height: 60%; background-image: url(../img/slide3.png);}
#four{width: 29%; height: 60%; background-image: url(../img/slide4.png);}
#slide1 > p{
    text-align: center;
    bottom: 0;
    color: #505189;
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    position: absolute;
    opacity: 0;
}
.problem-micro{
    width: 22%;
    height: 3%;
    color:#8b542c;
    font-size: 1.7vw;
    font-weight: 600;
    position: absolute;
}
.map{
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(../img/map.png);
}
.whale{
    width: 35%;
    height: 18%;
    background-image: url(../img/น้องวาฬ.png);
    transition-duration: 0.3s;
}
.whale:hover{
    transform: scale(1.05);
}
p.head-ocean{
    color: #495679;
    font-size: 5.8vw;
    font-weight: 600;
    font-family: rpsw;
    text-align: center;
    line-height: 0.9;
    position: absolute;
}
p.caption{
    color:#8b542c;
    font-size: 3.3vw;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
}
p.quote{
    color: #263766;
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: center;
    position: absolute;
}
p.quote::after{
    content: " ..มันลอยน้ำ";
    color:#8b542c;
}
#leftcoral{
    width: 25%;
    height: 25%;
    position: relative;
}
#rightcoral{
    width: 30%;
    height: 30%;
    overflow: hidden;
    position: relative;
}
.l-coral{
    width: 70%;
    height: 70%;
    background-image: url(../img/coral\ ซ้าย1.png);
}
.r-coral{
    width: 40%;
    height: 50%;
    background-position: center;
    background-image: url(../img/coral\ ขวา2.png);
}
#page4{
    height: 400vh;
    overflow: hidden;
    position: relative;
}
.only-head-sea{
    width: 100%;
    height: 30%;
    background-image: url(../img/in\ ocean\ naja.png);
    z-index: 1;
}
.sea-fake{
    width: 100%;
    height: 80%;
    position: absolute;
    background-color: #9CBEC9;
    z-index: 0;
}
.solution-head{
    color: #495679;
    font-size: 7vw;
    font-weight: 700;
    font-family: rpsw;
    position: absolute;
}
.gray-fishflip{
    width: 40%;
    height: 15%;
    background-image: url(../img/ปลาเทาเทา.png);
     z-index: 1;
}
.somm-fish{
    width: 40%;
    height: 15%;
    background-image: url(../img/ปลาโส้ม.png);
     z-index: 1;
}
.ban-chemic{
    width: 25%;
    height: 13%;
    background-image: url(../img/ban\ chemi.png);
    transition-duration: 0.3s;
    z-index: 1;
}
.ban-chemic:hover{
    transform: scale(1.05);
}
.circle-economy{
    width: 25%;
    height: 13%;
    background-image: url(../img/cir\ econ.png);
    transition-duration: 0.3s;
    z-index: 1;
}
.circle-economy:hover{
    transform: scale(1.05);
}
.three-people{
    width: 25%;
    height: 13%;
    background-image: url(../img/three.png);
    transition-duration: 0.3s;
    z-index: 1;
}
.three-people:hover{
    transform: scale(1.05);
}
.solution-topic{
    color: #FAFBEB;
    font-size: 1.7vw;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    text-shadow: 0px 2px gray;
}
.ban::before{
    content: "Ban";
    color: #495679;
    font-size: 4vw;
    font-weight: 600;
    font-family: rpsw;
    text-shadow: 0px 0px;
}
.economy::before{
    content: "Circular economy";
    color: #495679;
    font-size: 4vw;
    font-weight: 600;
    font-family: rpsw;
    text-shadow: 0px 0px;
}
.three-rule::before{
    content: "T H R E E";
    color: #495679;
    font-size: 4vw;
    font-weight: 600;
    font-family: rpsw;
    text-align: center;
    text-shadow: 0px 0px;
}
.three-rule{
    text-align: left;
}
.coral-reef{
    width: 105%;
    height: 29.5%;
    background-image: url(../img/coral.png);
}
@media screen and (max-width:1200px){
    .sea-world{
        height: 450vh ;
    }
    #page4{
        height: 300vh;
    }
}
@media screen and (max-width: 1100px){
    .sea-world{
        height: 400vh;
    }
    #point{
        height: 10%;
    }
    .line{
        border: 3px solid #577667;
    }
}

@media screen and (max-width: 400px) {
    .sea-world{
        height: 130vh;
    }
}
@keyframes bush_b {
    50% {
        transform: translateX(5px)rotate(5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}
@keyframes bush_f {
    50% {
        transform: translateX(-5px)rotate(-5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}
#leftcoral{
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    overflow: hidden;
}
#rightcoral{
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

p.lastlaew{
    color: #FAFBEB;
    font-size: 1.4vw;
    letter-spacing: 1px;
    font-weight: 500;
    /* letter-spacing: 0.5px; */
    line-height: 1.5;
    text-align: center;
    position: absolute;
    text-shadow: 0px 2px gray;
}
p.luknam1{
    color: #495679;
    position: absolute;
    font-weight: 600;
    font-family: cooper;
    font-size: 5vw;
}
div.line-block{
    bottom: 16%;
    left: 40.5%;
    width: 17.5vw;
    height: 0.3vw; 
    background-color: #495679; 
    position: absolute;
}
.background-block{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    animation: below 1s;
}
@keyframes below{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#block-sign{
    width: 45%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.text-sign{
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 2.5vw;
    position: absolute;
}
@keyframes text-loi{
    0%{
        bottom: var(--loi1);
    }
}
#input-comment{
    top: 35%;
    width: 50%;
    height: 12%;
    font-size: 1.2vw;
    padding: 3%;
    outline: none;
    border: 2px solid #EBECF0;
    border-radius: 1vw;
    position: absolute;
    background: rgba(196, 191, 191, 0.275);
    transition: all 0.3s;
}
#input-comment,
#input-comment::placeholder{
    color: rgba(255, 255, 255, 0.672);
}
#input-comment:focus{
    border: 2px solid #914725 ;
}
.btnn{
    bottom: 0;
    position: absolute;
    padding: 2% 9%;
    color: #8d4e31;
    font-weight: 600;
    font-size: 1vw;
    background-color: #dcc79e;
    border: none;
    border-radius: 1vw;
    transition: all 0.2s;
    cursor: pointer;
}
.btnn:hover{
    background-color: #ccac95;
    color: white;
}
.btnm{
    bottom: 0;
    position: absolute;
    padding: 1.4% 5%;
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    background-color: #c77e42;
    border: none;
    border-radius: 1vw;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}
.btnm:hover{
    background-color: #cf966d;
    color: white;
    box-shadow:0px 0px 10px rgb(110, 110, 83);
}
.pic-input{
    top: 46%;
    right: 17%;
    position: absolute;
    width: 12%;
    height: 12%;
    background-image: url(../img/unknown-removebg-preview.png);
}
section span{
    color: rgba(255, 255, 255, 0.672);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3%;
    background: transparent;
    border-radius: 50%; 
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: bub 10s linear;
    overflow: hidden;
}
@keyframes bub{
    0%{
        transform: translateY(0);
        opacity: 1
    }
    100%{
        transform: translateY(-1500%);
        opacity: 0;
    }
}
.gpbtn {
    width: 190%;
    font-size: 3vw;
    font-family: prompt-cause;
    position: absolute;
    color: white;
    transition: all 0.2s;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 2px gray;
}
.comment{
    position: absolute;
    bottom: 53%;
    padding: 2% 9%;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.75vw;
    text-decoration: none;
    text-shadow: black;
}
